@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Welcome</h2>
    <p>
        Using ASP.NET Core, we created a wonderful 
        application that allows buying your 
        favorite products
    </p>
</div>
<div class="col-md-3">
    <h2>Our products</h2>
    <table class="table table-striped">
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price </td>
        </tr>
        }
    </table>
</div>
<div class="col-md-3">
    <h2>Startup</h2>
    <p>
        New to the store? Give yourself a treat through the shop!
    </p>
    <p>
        We can deliver the products to your door by @DateTime.Now.AddDays(1).ToString("D") at 9 am.
    </p>
</div>