@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Welcome</h2>
    <p>
        Using ASP.NET Core, we created a wonderful 
        application that allows buying your 
        favorite products
    </p>
</div>
<div class="col-md-3">
    <h2>Startup</h2>
    <p>
        New to the store? Give yourself a treat through the shop!
    </p>
</div>
<div class="col-md-3">
    <h2>Overview</h2>
    <ul>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
    </ul>
</div>
<div class="col-md-3">
    <h2>Run &amp; Deploy</h2>
    <ul>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
    </ul>
</div>